# Autodetect text files
* text=auto

# Definitively text files
*.txt text
*.md text
*.sh text
*.conf text

# Binary files
*.jpg binary

#Linguist
includes/smb.conf linguist-language=ini
includes/*.service linguist-language=ini
