# Modify your openHABian settings
# Handle with care, only touch if you need to!!
# This file will only be used on unattended initial install.
# If you want to change anything after unattended install completed, use menu in openhabian-config.

# Hostname to set this one to
hostname=openhabian
# if it exists, the default user (with its working environment) will be renamed to this username given here ...
username=openhabian
# and given this password. The password will be removed from this file after completion for security reasons.
userpw=openhabian
# set this to download a SSH key and authorize the owner to login as the admin user
#adminkeyurl=https://github.com/openhab/openhabian/adminkey.pub

# Language and timezone. See Debian documentation for valid values.
timezone=Europe/Berlin
locales="en_US.UTF-8 de_DE.UTF-8"
system_default_locale="en_US.UTF-8"

# WiFi settings. An ethernet connection is recommended.
# If you have a RPi4, RPi3, RPi0W or a supported external WiFi dongle, the WiFi
# interface can be setup and used for the initial installation.
# Fill in your SSID and password below, leave empty or put comment in front to
# have your WiFi remain unchanged/uninitialized. Make sure your Ethernet works.
# ATTENTION: you need to escape these special characters: $, `, ", \, (newline)
# 'Escaping' means to put an additional \ in front of that character
wifi_ssid=""
wifi_psk=""

# Wi-Fi setting. Select a two-letter country code suitable for your location
# E.g. US (default), DE, AU, NZ...
# You may infringe on local legislature otherwise
# See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 or /usr/share/zoneinfo/zone.tab
wifi_country=""

# Eventually disable all IPv6 e.g. on installation problems
# values: "enable", "disable"
ipv6=enable

# repo and branch to clone from
repositoryurl=https://github.com/openhab/openhabian.git
clonebranch=stable

# debug verbosity mode
# off, on (verbose output in log) or maximum (show every command)
debugmode=off

# fake hardware
# force treating your box as if it was a ...
# pi4, pi4_8gb, cm4, pi400, pi3, cm3, pi3+, cm3+, pi2, pi1, cm1, pi0, pi0w
#hw=pi4

# Hardware architecture
# x86_64, amd64, armv6l, armv7l, aarch64, arm64
#hwarch=armv7l

# OS distribution/release
# Valid arguments: raspios, raspbian, debian, ubuntu, stretch, buster, bionic, focal
#osrelease=buster

# Java architecture mode
# Valid arguments: "Adopt11", "Zulu8-32", "Zulu8-64", "Zulu11-32", or "Zulu11-64"
java_opt=Zulu11-32

# install ZRAM per default, set to "disable" to skip installation
#zraminstall=enable

# start comitup hotspot if internet is not reachable
hotspot=enable

# external SD card device to backup and mirror the internal SD card to
#backupdrive=/dev/sda
#storageconfig=openhab-dir
#storagedir=/storage
#storagetapes=15
#storagecapacity=1024

# mail relay settings
#adminmail=john.doe@foo.bar
#relayuser=john.doe@foo.bar
#relaypass=secret
#smarthost=smtp.gmail.com
#smartport=587

# Tailscale VPN
#preauthkey=tskey-xxxxxxxxxxxxxxxxx

# vim: filetype=sh
