# Modify your openHABian settings
# Handle with care, only touch if you need to!!
# This file will only be used on initial install.
# If you want to change anything after install completed, use menu in openhabian-config.

hostname=openHABianDevice
userpw=password

# Do not change these lines
username=user

# Language and time. Be sure to set these to valid values
timeserver=0.pool.ntp.org
timezone=Europe/Berlin
locales="en_US.UTF-8 de_DE.UTF-8"
system_default_locale="en_US.UTF-8"

# vim: filetype=sh
