# Modify your openHABian settings
# Handle with care, only touch if you need to!!
# This file will only be used on initial install.
# If you want to change anything after install completed, use menu in openhabian-config.

hostname=openHABianDevice
userpw=password

# Do not change these lines
username=user

# Language and time. Be sure to set these to valid values
timeserver=0.pool.ntp.org
timezone=Europe/Berlin
locales="en_US.UTF-8 de_DE.UTF-8"
system_default_locale="en_US.UTF-8"

# Wi-Fi settings. An ethernet connection is recommended
# Requirement: RPi4, RPi3, RPi0W or a supported external Wi-Fi dongle
# Fill in your SSID and password below, leave empty to use ethernet
# ATTENTION: you need to escape these special characters: $, `, ", \, (newline)
# 'Escaping' means to put an additional \ in front of that character
wifi_ssid=""
wifi_psk=""

# repo to clone from (if not master for build and test)
repositoryurl=https://github.com/openhab/openhabian.git
clonebranch=master
# debug verbosity mode
# unattended, unattended_debug (verbose output in log) or debug_maximum (show every command)
mode=unattended

# Java architecture mode
# Use "32-bit" or "64-bit"
java_arch="64-bit"

# vim: filetype=sh
