[Unit]
Description=Zigbee2MQTT
After=network.target

[Service]
Type=simple
User=%user%
WorkingDirectory=/opt/zigbee2mqtt
EnvironmentFile=/opt/zigbee2mqtt/data/zigbee2mqtt.env
ExecStart= pnpm start --frozen-lockfile --ignore-scripts=false
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
