[Unit]
Description=Daily start of Amanda backup

[Timer]
OnCalendar=*-*-* 00:55
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
