[Unit]
Description=ESPHome Dashboard
After=network.target

[Service]
WorkingDirectory=/opt/esphomedashboard
ExecStart=/opt/esphomedashboard/venv/bin/esphome dashboard /opt/esphomedashboard/config --port 6052
Restart=always
User=<replace-with-username> # Dynamically replaced in script
Environment="PATH=/opt/esphomedashboard/venv/bin"

[Install]
WantedBy=multi-user.target
