[Unit]
Description=Framework for Internal Navigation and Discovery AI
Documentation=https://www.internalpositioning.com/doc/
After=mosquitto.service

[Service]
WorkingDirectory=/opt/find3/server/ai
RuntimeDirectory=/var/lib/find3server
RuntimeDirectoryMode=0775
User=find3
Group=openhabian
ExecStart=/usr/bin/make --always-make --directory=/opt/find3/server/ai production
Restart=always

[Install]
WantedBy=multi-user.target
