[Unit]
Description=FIND internal positioning server
Documentation=https://www.internalpositioning.com/server/
After=mosquitto.service

[Service]
EnvironmentFile=-/etc/default/findserver
WorkingDirectory=/var/lib/findserver
ExecStart=/usr/sbin/findserver -mqtt %MQTTSERVER:%MQTTPORT -mqttadmin %FINDADMIN -mqttadminpass %FINDADMINPASS -mosquitto $(pgrep mosquitto) -p :%FINDPORT %FINDSERVER:%FINDPORT
Restart=always

[Install]
WantedBy=multi-user.target
