[Unit]
Description=Daily generation of FireMotD stats

[Timer]
OnCalendar=*-*-* 00:00
RandomizedDelaySec=6h
Persistent=true
RemainAfterElapse=true

[Install]
WantedBy=timers.target
