@import "bootstrap.min.css";

body {
  padding-top: 7em;
}

.no-topbar {
  padding-top: 10px;
}

.navbar {
  background-color: #FF6600;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-brand::before {
  content: "openHAB 2 Log Viewer (frontail)";
  font-size: 150%;
  padding-right: 30px;
}

.form-control {
  color: #a0a0a0;
}

.log {
  white-space: pre-wrap;
  color: #505050;
  font-size: .95em;
  background: inherit;
  border: 0;
  padding: 0;
}

.log .inner-line {
  padding: 0 15px;
  margin-left: 288pt;
  text-indent: -288pt;
  margin-bottom: 0;
}

.log .inner-line:empty::after {
  content: '.';
  visibility: hidden;
}

.log.no-indent .inner-line {
  margin-left: 0;
  text-indent: 0;
}

.log .line-selected {
  background-color: #e0e0e0;
}
