@import url('//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

body {
  padding-top: 7em;
  background-color: #2f3238;
}

.no-topbar {
  padding-top: 10px;
}

.navbar {
  background-color: #26292e;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar .navbar-brand {
  color: #efefef;
}

.navbar .navbar-brand::before {
  content: "openHAB Log Viewer (frontail)";
  font-size: 150%;
  padding-right: 30px;
}

.navbar .text-right::before {
  color: #efefef;
  content: "Pause/Play Log";
  font-size: 100%;
}

.form-control {
  border: 0;
  color: #7f8289;
  background-color: #2f3238;
}

.log {
  white-space: pre-wrap;
  color: #f2f2f2;
  font-size: 0.95em;
  background: inherit;
  border: 0;
  padding: 0;
}

.log .inner-line {
  padding: 0 15px;
  margin-left: 288pt;
  text-indent: -288pt;
  margin-bottom: 0;
}

.log .inner-line:empty::after {
  content: '.';
  visibility: hidden;
}

.log.no-indent .inner-line {
  margin-left: 0;
  text-indent: 0;
}

.log .line-selected {
  background-color: #4f204c;
}
