[Unit]
Description=Homegear
PartOf=openhab.service

[Service]
Type=simple
User=homegear
Group=homegear
RuntimeDirectory=homegear
RuntimeDirectoryMode=0755
LimitRTPRIO=100
TasksMax=infinity
LimitCORE=infinity
ExecStart=/usr/bin/homegear

[Install]
WantedBy=multi-user.target
