[Unit]
Description=Homegear
PartOf=openhab.service

[Service]
Type=simple
User=homegear
Group=homegear
RuntimeDirectory=homegear
RuntimeDirectoryMode=0755
LimitRTPRIO=100
TasksMax=infinity
LimitCORE=infinity
ExecStart=/usr/bin/homegear
ExecStartPre=/usr/local/sbin/rpi_init "/usr/bin/gpio export 18 out"
ExecStop=/usr/local/sbin/rpi_init "/usr/bin/gpio unexport 18"

[Install]
WantedBy=multi-user.target
