[Unit]
Description=Homegear

[Service]
Type=simple
User=homegear
Group=homegear
RuntimeDirectory=homegear
PIDFile=/run/homegear/homegear.pid
LimitRTPRIO=100
ExecStart=/usr/bin/homegear

[Install]
WantedBy=multi-user.target
