[Unit]
Description=Homegear Management
After=homegear.service

[Service]
Type=simple
User=homegear
Group=homegear
RuntimeDirectory=homegear
RuntimeDirectoryMode=0755
TimeoutSec=300
LimitRTPRIO=100
ExecStart=/usr/bin/homegear-management -p /var/run/homegear/homegear-management.pid
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
TasksMax=infinity
LimitCORE=infinity
KillMode=process

[Install]
WantedBy=multi-user.target
