[Unit]
Description=SD card raw device copy to external card reader device

[Service]
Type=oneshot
User=root
Group=root
ExecStart=source /opt/openhabian/functions/backup.bash; mirror_SD "raw" %DEST

