[Unit]
Description=Run SD raw dump semiannually

[Timer]
Unit=sdrawcopy.service
OnCalendar=*-01,07-01 01:15:00
Persistent=true

[Install]
WantedBy=timers.target
