[Unit]
Description=mount external card reader device and rsync / over there

[Service]
Type=oneshot
User=root
Group=root
ExecStart=source /opt/openhabian/functions/backup.bash; mirror_SD "diff" %DEST
