[Unit]
Description=Run SD rsync daily except on 1st of month (when a raw dump is made)
Requires=sdrsync.service

[Timer]
Unit=sdrsync.service
OnCalendar=*-*-02..31 02:00:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
