[Unit]
Description=zram sync to/from external SD on shutdown/boot
Requires=local-fs.target storage.mount
Before=zram-config.service

[Service]
Type=oneshot
ExecStart=-/usr/local/bin/zramsync "%SYNCMOUNT" "/"
ExecStop=-/usr/local/bin/zramsync "/" "%SYNCMOUNT"
TimeoutSec=300
RemainAfterExit=yes

[Install]
# final.target by definition onflicts (any service) -> "(any service) stop" will be executed on shutdown/reboot/halt
WantedBy=zram-service.target

