[Unit]
Description=zram sync to/from external SD on shutdown/boot
After=local-fs.target storage.mount zram-config.service
Requires=storage.mount

[Service]
Type=oneshot
ExecStart=-/usr/local/bin/zramsync recover "%SYNCMOUNT"
ExecStop=-/usr/local/bin/zramsync sync "%SYNCMOUNT"
TimeoutSec=300
RemainAfterExit=yes

[Install]
# final.target by definition onflicts (any service) -> "(any service) stop" will be executed on shutdown/reboot/halt
WantedBy=zram-service.target

