[Unit]
Description=zram-config
After=local-fs.target network.target
Requires=network.target
Before=smbd.service openhab2.service
#Before=smbd.service openhab2.service
#DefaultDependencies=no
PartOf=openhab2.service

[Service]
Type=oneshot
ExecStartPre=-/bin/rm -f /usr/local/share/zram-config/zram-device-list /usr/local/share/zram-config/zram-device-list.rev
ExecStartPre=-/usr/local/bin/zramsync recover "/storage"
ExecStartPost=-/usr/local/bin/zramsync recover "/storage"
ExecStart=-/usr/local/bin/zram-config start
ExecStopPre=-/usr/local/bin/zramsync sync "/storage"
ExecStop=-/usr/local/bin/zram-config stop
#ExecStopPost=-/bin/cp /usr/local/share/zram-config/log/zram-config.log /var/tmp
TimeoutSec=300
RemainAfterExit=yes

[Install]
#WantedBy=basic.target reboot.target shutdown.target poweroff.target halt.target openhab2.service
WantedBy=basic.target openhab2.service

