name: BATS

on:
  push:
    paths:
      - 'tests/Dockerfile.*-BATS'
      - 'functions/*.bats'
      - 'functions/*.bash'
      - '!functions/wifi.bash'
      - '!functions/system.bash'
      - '!functions/openhab.bash'
      - '!functions/openhabian.bash'
      - '!functions/menu.bash'
      - '!functions/find.bash'
      - '!functions/ext-storage.bash'
      - '!functions/config.bash'
      - '!functions/backup.bash'
      - '!functions/auth.bash'
      - '.github/workflows/bats-action.yml'
  pull_request:
    paths:
      - 'tests/Dockerfile.*-BATS'
      - 'functions/*.bats'
      - 'functions/*.bash'
      - '!functions/wifi.bash'
      - '!functions/system.bash'
      - '!functions/openhab.bash'
      - '!functions/openhabian.bash'
      - '!functions/menu.bash'
      - '!functions/find.bash'
      - '!functions/ext-storage.bash'
      - '!functions/config.bash'
      - '!functions/backup.bash'
      - '!functions/auth.bash'
      - '.github/workflows/bats-action.yml'

jobs:
  bats-tests:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000

    strategy:
      matrix:
        platform: [rpi4, amd64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup environment
        run: sudo -E ./tests/ci-setup.bash github
      - name: Set up QEMU
        if: ${{ matrix.platform == 'rpi4' }}
        uses: docker/setup-qemu-action@v3.2.0
        with:
          platforms: arm64
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.8.0
        with:
          driver-opts: network=host
      - name: Build Docker image
        uses: docker/build-push-action@v6.10.0
        with:
          context: .
          file: ./tests/Dockerfile.${{ matrix.platform }}-BATS
          builder: ${{ steps.buildx.outputs.name }}
          tags: localhost:5000/openhabian/${{ matrix.platform }}-openhabian:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
      - name: BATS tests on ${{ matrix.platform }} platform
        run: |
          docker run --rm --name "openhabian-${{ matrix.platform }}" -d localhost:5000/openhabian/${{ matrix.platform }}-openhabian
          docker exec -i "openhabian-${{ matrix.platform }}" bash -c 'bats --tap --recursive --filter "development-." .'
          docker exec -i "openhabian-${{ matrix.platform }}" bash -c 'bats --tap --recursive --filter "unit-." .'
          docker exec -i "openhabian-${{ matrix.platform }}" bash -c 'bats --tap --recursive --filter "installation-." .'
          docker exec -i "openhabian-${{ matrix.platform }}" bash -c 'bats --tap --recursive --filter "destructive-." .'
          docker stop "openhabian-${{ matrix.platform }}"
        shell: bash
