name: Build

# Trigger the workflow on push or pull request
on:
  push:
    paths:
      - 'build.bash'
      - 'build-image/openhabian-installer.service'
      - 'build-image/first-boot.bash'
      - 'includes/offline-image-modifications.bash'
      - '.github/workflows/build-action.yml'
  pull_request:
    paths:
      - 'build.bash'
      - 'build-image/openhabian-installer.service'
      - 'build-image/first-boot.bash'
      - 'includes/offline-image-modifications.bash'
      - '.github/workflows/build-action.yml'
  workflow_dispatch:
    inputs:
      comments:
        description: 'Build comments'
        default: 'Build for testing purposes'

jobs:
  build32:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout repository
         uses: actions/checkout@v2.3.4
         with:
           repository: ${{ github.event.pull_request.head.repo.full_name }}
           ref: ${{ github.event.pull_request.head.ref }}
       - name: Setup environment
         id: setup
         run: |
           sudo -E bash -c set
           sudo apt-get update
           sudo apt-get install --yes libarchive-zip-perl dos2unix systemd-container qemu-user-static qemu-utils
           echo "::set-output name=image::$(basename "$(curl "https://downloads.raspberrypi.org/raspios_lite_armhf_latest" -s -L -I  -o /dev/null -w '%{url_effective}')")"
       - name: Cache Raspberry Pi OS image
         uses: actions/cache@v2.1.6
         with:
           path: ${{ steps.setup.outputs.image }}
           key: ${{ steps.setup.outputs.image }}
       - name: Build openHABian 32bit image
         id: build
         run: |
           sudo -E ./tests/ci-setup.bash github .pi-raspios32
           sed -i -e "s|^userpw=.*$|userpw=\"${{secrets.USERPW}}\"|g" build-image/openhabian.pi-raspios32.conf
           sed -i -e "s|ap_password:.*$|ap_password: ${{secrets.HOTSPOTPW}}|g" includes/comitup.conf
           sudo -E ./build.bash rpi
           echo "::set-output name=file::$(ls openhabian-*.img.xz)"
       - name: Archive openHABian 32bit image
         uses: actions/upload-artifact@v2
         with:
           name: ${{ steps.build.outputs.file }}
           path: ${{ steps.build.outputs.file }}
  build64experimental:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout repository
         uses: actions/checkout@v2.3.4
         with:
           repository: ${{ github.event.pull_request.head.repo.full_name }}
           ref: ${{ github.event.pull_request.head.ref }}
       - name: Setup environment
         id: setup
         run: |
           sudo -E bash -c set
           sudo apt-get update
           sudo apt-get install --yes libarchive-zip-perl dos2unix systemd-container qemu-user-static qemu-utils
           echo "::set-output name=image::$(basename "$(curl "https://downloads.raspberrypi.org/raspios_lite_arm64_latest" -s -L -I  -o /dev/null -w '%{url_effective}')")"
       - name: Cache Raspberry Pi OS image
         uses: actions/cache@v2.1.6
         with:
           path: ${{ steps.setup.outputs.image }}
           key: ${{ steps.setup.outputs.image }}
       - name: Build openHABian 64bit image
         id: build
         run: |
           sudo -E ./tests/ci-setup.bash github .pi-raspios64beta
           sed -i -e "s|^userpw=.*$|userpw=\"${{secrets.USERPW}}\"|g" build-image/openhabian.pi-raspios64beta.conf
           sed -i -e "s|ap_password:.*$|ap_password: ${{secrets.HOTSPOTPW}}|g" includes/comitup.conf
           sudo -E ./build.bash rpi64
           echo "::set-output name=file::$(ls openhabian-*.img.xz)"
       - name: Archive openHABian 64bit image
         uses: actions/upload-artifact@v2
         with:
           name: ${{ steps.build.outputs.file }}
           path: ${{ steps.build.outputs.file }}
