name: Doc update on release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  triggerWorkflowDispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.DOCS_REPO_ACCESS_TOKEN }}
          repository: openhab/openhab-docs
          event-type: update-openhabian-docs-event
